<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        a {
            color: blue;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Деталі користувача</h1>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Роль:</strong> 
        {% if user.role == "0" %}
            Відвідувач
        {% else %}
            Бібліотекар
        {% endif %}
    </p>
    <!-- Правильне посилання -->
    <a href="{% url 'user_list' %}">Повернутися до списку користувачів</a>
</body>
</html>


