{% extends 'base.html' %}

{% block content %}
<h2>Редагувати користувача: {{ user.first_name }} {{ user.last_name }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
</form>

<h3>Переглянуті книги:</h3>
<ul>
    {% for book in user.viewed_books.all %}
        <li>{{ book.title }}</li>
    {% empty %}
        <li>Користувач ще не переглянув жодної книги.</li>
    {% endfor %}
</ul>

<h3>Взяті книги:</h3>
<ul>
    {% for book in user.borrowed_books.all %}
        <li>{{ book.name }}</li>
    {% empty %}
        <li>Користувач ще не брав жодної книги.</li>
    {% endfor %}
</ul>

<a href="{% url 'user_list' %}" class="btn btn-secondary">Повернутись до списку користувачів</a>
{% endblock %}
