<!DOCTYPE html>
<html>
<head>
    <title>Деталі користувача</title>
</head>
<body>
    <h1>Інформація про користувача</h1>
    <p><strong>Ім'я:</strong> {{ user.first_name }}</p>
    <p><strong>Прізвище:</strong> {{ user.last_name }}</p>
    <p><strong>Ел. пошта:</strong> {{ user.email }}</p>

    <h2>Книги, переглянуті користувачем:</h2>
    <ul>
        {% for book in user.viewed_books.all %}
            <li>{{ book.title }}</li>
        {% empty %}
            <li>Користувач ще не переглянув жодної книги.</li>
        {% endfor %}
    </ul>

    <h2>Книги, взяті користувачем:</h2>
    <ul>
        {% for book in user.borrowed_books.all %}
            <li>{{ book.name }}</li>
        {% empty %}
            <li>Користувач ще не брав жодної книги.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'user_list' %}" class="btn btn-secondary">Повернутися до списку користувачів</a>
</body>
</html>
