{% extends 'base.html' %}

{% block content %}
<h2>Список користувачів</h2>

<table>
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Ел. пошта</th>
            <th>Переглянуті книги</th>
            <th>Взяті книги</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% for book in user.viewed_books.all %}
                    {{ book.title }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Немає переглянутих книг
                {% endfor %}
            </td>
            <td>
                {% for book in user.borrowed_books.all %}
                    {{ book.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Немає взятих книг
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'user_detail' user.id %}">Деталі</a> |
                <a href="{% url 'edit_user' user.id %}">Редагувати</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Список користувачів порожній.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'add_user' %}" class="btn btn-primary">Додати нового користувача</a>
{% endblock %}
