<!DOCTYPE html>
<html>
<head>
    <title>Список книг</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #4CAF50;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>Список книг</h1>
    <ul>
        {% for book in books %}
            <li><strong>{{ book.name }}</strong>: {{ book.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>

